@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using DockSiiide.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Bokningar";
}
<h1>@ViewData["Title"]</h1>

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(UserManager.GetUserAsync(User).Result, "admin"))
{
    <h1>BEFINTLIGA BOKNINGAR PRESENTERAS</h1>
}
else
{
    <h1>VÄNLIGEN LOGGA IN FÖR ATT SE DINA BOKNINGAR</h1>
}

<p>Use this page to detail your site's privacy policy.</p>