@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore
@using DockSiiide.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>ANVÄNDAREN ÄR INLOGGAD OCH HÄR SKA BOKNINGSPROCESSEN PRESENTERAS</h1>
}
else
{
<h1>EJ INLOGGAD UPPMANA TILL ATT LOGGA IN</h1>
}
